.divPrincipal{
    margin-left: 10px;
    font-family: sans-serif;
    /* width: 90%; */
    height: 800px;
    
    /* box-shadow: 0 0 10px #888; */
    border-radius: 5px;
    padding: 5%;
}
.todasLasColumnas{
    columns: 3;
    align-items: stretch;
}
.columna1{
float: left;
}
.elemento1{
    display: flex;
    margin-top: 20px;

}
.elemento11{
    width: 50px;
    height: 50px;
    background-color:lawngreen;
    margin-top: 35px;
}
.elemento11:hover{
    background-color:darkred;
}

.elemento12{
    width: 50px;
    height: 50px;
    background-color:lawngreen;
}
.elemento12:hover{
    background-color:darkred;
}
.elemento13{
    width: 50px;
    height: 50px;
    background-color:lawngreen;
}
.elemento13:hover{
    background-color:darkred;
}
.columna2{
text-align: center;
}
.elementosCol2{
columns: 3;
}
.elementosCol21{
    width: 50px;
    height: 50px;
    background-color: aqua;
}
.elementosCol21:hover{
    background-color: brown;
}
.elementosCol22{
    width: 50px;
    height: 50px;
    background-color:blueviolet;
}
.elementosCol22:hover{
    background-color:deeppink;
}
.elementosCol23{
    width: 70px;
    height: 50px;
    background-color:blue;
}
.elementosCol23:hover{
    background-color:maroon;
}
.columna3{
    float: right;
}
.columna3:hover {
    
}
.elemento1{
    width: 200px;
    height: 175px;
    background-color: aqua;
}
.elemento1:hover{
    background-color: brown;
}
.elemento2{
    width: 200px;
    height: 175px;
    background-color:blueviolet;
}
.elemento2:hover{
    background-color:crimson;
}
.elemento3{
    width: 200px;
    height: 175px;
    background-color:blue;
}
.elemento3:hover{
    background-color:darkred;
}
.footer{
    columns: 3;
    margin-top: 20px;
}
/* .containerImg{
    float: right;
} */